$url:"/static/homepage/images/new_pc/sprit.png";
footer {
    // height: 320px;
    background-color: #222324;
    .link {
        height: 158px;
        border-bottom: 1px solid #4e4f50;
        .tab {
            padding-top: 32px;
            a {
                display: inline-block;
                width: 88px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 14px;
                color: rgba(255, 255, 255, .6);
                background-color: #000;
                margin-right: 10px;
                &.active {
                    color: white;
                    background-color: #384144;
                }
            }
        }
        .content {
            padding-top: 24px;
            >div {
                height: 56px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                a {
                    font-size: 12px;
                    line-height: 28px;
                    margin-right: 9px;
                    color: rgba(255, 255, 255, .6);
                }
                a:hover {
                    color: white;
                }
            }
        }
    }
    .about-us {
        padding-top: 31px;
        dl {
            float: left;
            margin-right: 140px;
            dt {
                font-size: 14px;
                color: #fff;
            }
            dd {
                a {
                    font-size: 12px;
                    color: rgba(255, 255, 255, .6);
                }
            }
        }
        div[class^="footer-link"] {
            float: left;
        }
        .footer-link-m {
            width: 264px;
            padding-left: 20px;
            margin-left: -80px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 1px;
                height: 87px;
                background-color: #333;
            }
            p {
                color: white;
                font-size: 14px;
                margin-bottom: 10px;
                a {
                    font-size: 12px;
                    color: rgba(255, 255, 255, .6);
                }
            }
            >a {
                display: block;
                width: 184px;
                height: 29px;
                line-height: 29px;
                font-size: 12px;
                padding-left: 40px;
                background-color: #39393A;
                color: rgba(255, 255, 255, .6);
                position: relative;
                margin-bottom: 10px;
                i {
                    position: absolute;
                    width: 29px;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: url($url) no-repeat -265px -191px;
                    background-color: #4D4D4E;
                }
            }
        }
        .footer-link-p {
            width: 264px;
            padding-top: 27px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 1px;
                height: 87px;
                background-color: #333;
            }
            i {
                display: inline-block;
                width: 38px;
                height: 38px;
                background: url($url) no-repeat -507px -11px;
                margin-left: 58px;
                margin-top: 2px;
            }
            >div {
                width: 152px;
                float: right;
                p {
                    font-size: 12px;
                    color: white;
                    margin-bottom: 10px;
                }
            }
        }
        .footer-link-t {
            width: 269px;
            text-align: center;
            .p1 {
                color: white;
                font-size: 24px;
                margin-bottom: 16px;
            }
            .p2 {
                font-size: 12px;
                color: rgba(255, 255, 255, .6);
                margin-bottom: 13px;
            }
            a {
                display: inline-block;
                width: 119px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                color: white;
                font-size: 12px;
                background-color: #FF7C34;
            }
        }
    }
    .record {
        text-align: left;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
        padding-bottom: 40px;
        .fl {
            p {
                height: 26px;
                line-height: 26px;
                a {
                    color: rgba(255, 255, 255, 0.6);
                }
            }
            p:last-child {
                a {
                    display: inline-block;
                }
            }
        }
        div.right {
            margin-top: 20px;
            margin-left: 34px;
            .beian {
                display: inline-block;
                width: 32px;
                height: 40px;
                background: url(http://front.tobosu.com/res/common/images/icon_common_bg.png?v=11111) 0px -80px no-repeat;
            }
            .pingji {
                display: inline-block;
                width: 40px;
                height: 40px;
                background: url(http://front.tobosu.com/res/common/images/icon_common_bg.png?v=11111) 0px -130px no-repeat;
            }
            .credit {
                display: inline-block;
                width: 73px;
                height: 28px;
                img {
                    vertical-align: center;
                }
            }
        }
    }
}