@function size($num) {
    @return $num*1px;
}

$url:"/static/homepage/images/new_pc/sprit.png";
$root:"/static/homepage/images/new_pc/";
$tbscolor:#ff6f20;
// 头部
.header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
}

header {
    height: size(36);
    line-height: size(36);
    background-color: #F5F5F5;
    //箭头
    .down-arrow {
        >a {
            color: #555;
            //定位
            span {
                display: inline-block;
                width: size(8);
                height: size(7);
                background: url($url) no-repeat -155px -16px;
            }
        }
    }
    .down-arrow:hover {
        >a {
            color: $tbscolor;
            span {
                background: url($url) no-repeat -166px -16px;
            }
        }
    }
    // 定位
    .location {
        .position {
            span.local-icon {
                display: inline-block;
                width: size(12);
                height: size(15);
                background: url($url) no-repeat -139px -14px;
                margin-right: size(6);
                margin-top: 11px;
            }
            a {
                font-size: 12px;
                color: #555;
                vertical-align: top;
            }
        }
        .choose-city {
            margin-left: size(17);
            font-size: size(12);
            border-left: 1px solid #F5F5F5;
            position: relative;
            padding: 0 10px;
            >a {
                margin-right: size(3);
            }
            .hot-city {
                display: none;
                width: 228px;
                padding: 14px 20px;
                border: 1px solid #ddd;
                position: absolute;
                background-color: white;
                margin-left: -11px;
                margin-top: -1px;
                // border-top: 0;
                z-index: 999;
                h2 {
                    font-size: 12px;
                    font-weight: bold;
                    color: $tbscolor;
                }
                .city-cont {
                    line-height: 24px;
                    a {
                        color: #666;
                        margin: 0 size(5);
                        &:hover {
                            color: $tbscolor;
                        }
                    }
                }
                >a {
                    display: inline-block;
                    width: 100%;
                    height: 30px;
                    line-height: size(30);
                    background-color: #ff9c00;
                    text-align: center;
                    color: white;
                    margin-top: 12px;
                    &:hover {
                        background-color: #ff500b;
                    }
                }
            }
        }
        .choose-city:hover {
            background-color: white;
            border: 1px solid #ddd;
            border-bottom-color: white;
            border-top: 0;
            box-sizing: border-box;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: white;
                z-index: 66;
                bottom: -1px;
            }
            .hot-city {
                display: block;
            }
        }
    }
    //登陆
    .login {
        ul {
            li {
                float: left;
                padding: 0 size(18);
                text-align: center;
                position: relative;
                &:last-child {
                    padding-right: 0;
                    a::after {
                        display: none;
                    }
                }
                &.already {
                    display: none;
                }
                a {
                    font-size: size(12);
                    color: #777;
                    &:hover {
                        color: $tbscolor
                    }
                }
                >a {
                    &::after {
                        content: "";
                        position: absolute;
                        width: size(1);
                        height: size(10);
                        background-color: #c4c4c4;
                        top: 50%;
                        margin-top: -5px;
                        right: size(0);
                    }
                }
                .msg-icon {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: red;
                    position: absolute;
                    left: 5px;
                    top: 15px;
                }
            }
            li.down-arrow {
                position: relative;
                //关注微信
                .fllow-wechat {
                    background-color: white;
                    width: 122px;
                    height: 139px;
                    border: 1px solid #ddd;
                    // padding: 5px 10px;
                    position: absolute;
                    top: size(38);
                    left: -10px;
                    z-index: 999;
                    box-sizing: content-box;
                    display: none;
                    &::before {
                        content: "";
                        position: absolute;
                        top: -6px;
                        left: size(54);
                        width: 8px;
                        height: 8px;
                        background-color: white;
                        border: 1px solid #ddd;
                        transform: rotate(45deg);
                        border-right: 0;
                        border-bottom: 0;
                    }
                    .img {
                        width: 104px;
                        height: 104px;
                        margin: 0 auto;
                        margin-top: 7px;
                        // border: 1px solid red;
                        background: url($url) no-repeat -710px -589px;
                    }
                    p {
                        font-size: size(12);
                        line-height: 28px;
                        color: #666;
                        text-align: center;
                    }
                }
                //商务合作
                .cooperation {
                    display: none;
                    position: absolute;
                    left: size(-22);
                    z-index: 999;
                    background-color: white;
                    border: 1px solid #ddd;
                    width: size(140);
                    height: size(109);
                    padding-top: size(20);
                    &::before {
                        content: "";
                        position: absolute;
                        top: -6px;
                        left: size(60);
                        width: 8px;
                        height: 8px;
                        background-color: white;
                        border: 1px solid #ddd;
                        transform: rotate(45deg);
                        border-right: 0;
                        border-bottom: 0;
                    }
                    .p1 {
                        // margin-bottom: size(10);
                        height: size(36);
                        text-align: left;
                        padding-left: size(30);
                        position: relative;
                        a {
                            display: inline-block;
                            width: size(26);
                            height: size(26);
                            // border: 1px solid $tbscolor;
                            text-indent: -99px;
                            overflow: hidden;
                            // border-radius: 50%;
                            margin-right: 20px;
                            &.tel {
                                background: url($root + "电话.png") no-repeat center center;
                            }
                            &.qq {
                                background: url($root + "qq.png") no-repeat center center;
                            }
                        }
                        span {
                            position: absolute;
                            width: size(25);
                            height: size(18);
                            background: url($url) no-repeat -575px -18px;
                            top: -14px;
                            left: 43px;
                        }
                    }
                    .p2 {
                        height: size(20);
                        line-height: size(20);
                        font-size: size(12);
                        color: #888;
                        margin-bottom: size(5);
                    }
                    .p3 {
                        height: size(20);
                        line-height: size(20);
                        font-size: size(12);
                        color: #333;
                    }
                }
                //个人中心
                .personal {
                    display: none;
                    position: absolute;
                    z-index: 999;
                    left: -16px;
                    top: 36px;
                    background-color: white;
                    width: 115px;
                    border: 1px solid #e5e5e5;
                    padding: 4px 10px;
                    &::before {
                        content: "";
                        position: absolute;
                        top: -6px;
                        left: size(50);
                        width: 8px;
                        height: 8px;
                        background-color: white;
                        border: 1px solid #e5e5e5;
                        transform: rotate(45deg);
                        border-right: 0;
                        border-bottom: 0;
                    }
                    p {
                        font-size: 12px;
                        color: #999;
                        // padding-left: 12px;
                        height: 26px;
                        line-height: 26px;
                    }
                }
                //消息
                .news {
                    display: none;
                    position: absolute;
                    z-index: 999;
                    left: -9px;
                    top: 36px;
                    background-color: white;
                    width: 115px;
                    border: 1px solid #e5e5e5;
                    padding: 4px 15px;
                    &::before {
                        content: "";
                        position: absolute;
                        top: -6px;
                        left: size(49);
                        width: 8px;
                        height: 8px;
                        background-color: white;
                        border: 1px solid #e5e5e5;
                        transform: rotate(45deg);
                        border-right: 0;
                        border-bottom: 0;
                    }
                    p {
                        font-size: 12px;
                        color: #999;
                        // padding-left: 12px;
                        height: 20px;
                        line-height: 20px;
                        text-align: left;
                        a {
                            span {
                                color: $tbscolor;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
            li.down-arrow:hover {
                // background-color: white;
                .fllow-wechat {
                    display: block;
                }
                .cooperation {
                    display: block;
                }
                .personal {
                    display: block;
                }
                .news {
                    display: block;
                }
            }
        }
    }
}

//菜单部分
.menu {
    background-color: white;
    height: size(80);
    padding-top: size(20);
    position: relative;
    // display: flex;
    // align-items: center;
    .logo {
        h1 {
            text-indent: -99px;
            font-size: 12px;
            overflow: hidden;
            height: size(45);
            width: size(109);
            margin-right: size(11);
            position: relative;
            a {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: url($url) no-repeat -15px -1px;
            }
        }
        .advert {
            width: size(164);
            height: size(45);
            margin-left: size(11);
            margin-top: 5px;
            position: relative;
            img {
                width: 100%;
            }
            &::after {
                content: "";
                position: absolute;
                width: size(1);
                height: size(30);
                left: -11px;
                top: 10px;
                background-color: #FFC9A8;
            }
        }
    }
    //导航
    .nav-list {
        position: absolute;
        top: 80px;
        width: 100%;
        // height
        z-index: 100;
        background-color: white;
        // border-bottom: 1px solid #e5e5e5;
        // border-top: 1px solid #e5e5e5;
        .banner {
            position: relative;
        }
        .nav-show {
            display: none;
            height: 148px;
            ul.pic {
                height: 100%;
                margin-left: 227px;
                padding: 36px 72px;
                li {
                    float: left;
                    width: 240px;
                    height: 100%;
                    border-right: 1px dashed #e5e5e5;
                    text-align: center;
                    &:last-child {
                        border-right: 0;
                    }
                    a {
                        display: inline-block;
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                        }
                        span {
                            display: block;
                            width: 96px;
                            height: 48px;
                            margin: 0 auto;
                            margin-bottom: 12px;
                            // background-color: red;
                            &.p1 {
                                background: url($root+"家居图册.png") no-repeat center center;
                            }
                            &.p2 {
                                background: url($root+"家居美图.png") no-repeat center center;
                            }
                            &.p3 {
                                background: url($root+"公装图册.png") no-repeat center center;
                            }
                            &.p4 {
                                background: url($root+"精品专题.png") no-repeat center center;
                            }
                        }
                        p {
                            font-size: 14px;
                            color: #333;
                            text-align: center;
                        }
                    }
                }
            }
            ul.direct {
                height: 100%;
                margin-left: 227px;
                padding: 36px 0;
                li {
                    float: left;
                    width: 160px;
                    height: 76px;
                    padding: 0 36px;
                    border-right: 1px dashed #e5e5e5;
                    text-align: center;
                    &:last-child {
                        border: 0;
                    }
                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        span {
                            display: block;
                            width: 40px;
                            height: 40px;
                            // background-color: red;
                            margin: 0 auto;
                            margin-bottom: 16px;
                            &.i1 {
                                background: url($url) no-repeat -750px -354px;
                            }
                            &.i2 {
                                background: url($url) no-repeat -794px -354px;
                            }
                            &.i3 {
                                background: url($url) no-repeat -847px -355px;
                            }
                            &.i4 {
                                background: url($url) no-repeat -893px -356px;
                            }
                            &.i5 {
                                background: url($url) no-repeat -936px -356px;
                            }
                            &.i6 {
                                background: url($url) no-repeat -981px -355px;
                            }
                        }
                        p {
                            font-size: 14px;
                            color: #333;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .nav-list.active {
        border-bottom: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
        .nav-show {
            display: block;
        }
        nav {
            top: -59px;
        }
    }
    nav {
        //第一级li的样式
        position: absolute;
        top: -58px;
        left: 358px;
        >ul {
            >li {
                float: left;
                padding: 0 14px;
                position: relative;
                &:last-child {
                    padding-right: 0;
                }
                >span {
                    position: absolute;
                    width: 25px;
                    height: 18px;
                    background: url($url) no-repeat -575px -18px;
                    top: -2px;
                    right: -6px;
                }
                >a {
                    color: #333;
                    display: inline-block;
                    padding: 8px 5px;
                    font-size: size(16);
                    margin-bottom: size(20);
                    span.phone {
                        display: inline-block;
                        width: size(10);
                        height: size(15);
                        background: url($url) no-repeat -148px -77px;
                        vertical-align: top;
                        margin-top: size(4);
                        animation: shaking 6s infinite;
                    }
                }
                >a.hover {
                    color: #ff6c14;
                }
                &.arrow-d {
                    >a {
                        span {
                            display: inline-block;
                            width: 8px;
                            height: size(6);
                            background: url($url) no-repeat -155px -36px;
                            vertical-align: top;
                            margin-top: size(9);
                        }
                    }
                }
                .app-download {
                    display: none;
                    position: absolute;
                    left: -20px;
                    top: 59px;
                    z-index: 666;
                    border: 1px solid #e5e5e5;
                    background-color: white;
                    width: size(180);
                    height: size(178);
                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        .img {
                            width: size(105);
                            height: size(105);
                            margin: 10px auto;
                            background: url($url) no-repeat -818px -589px;
                        }
                        .p1 {
                            font-size: size(18);
                            color: #333;
                            font-weight: bold;
                        }
                        .p2 {
                            font-size: 14px;
                            color: #333;
                        }
                    }
                }
            }
            >li.code:hover {
                >div {
                    display: block;
                }
            }
            >li.active {
                >a {
                    border-bottom: 2px solid $tbscolor;
                    color: #ff6c14;
                }
            }
            >li.arrow-d {
                >a.hover {
                    span {
                        background: url($url) no-repeat -166px -36px;
                    }
                }
            }
        }
    }
    //菜单栏的搜索
    .search {
        position: relative;
        margin-top: size(5);
        >div {
            position: absolute;
            width: size(78);
            height: size(35);
            text-align: center;
            // border: 1px solid pink;
            >a {
                display: inline-block;
                height: 100%;
                width: 100%;
                line-height: size(35);
                font-size: size(12);
                color: $tbscolor;
                span.arrow {
                    display: inline-block;
                    width: size(8);
                    height: size(6);
                    background: url($url) no-repeat -155px -36px;
                    vertical-align: top;
                    margin-top: size(14);
                    margin-left: size(5);
                }
            }
            ul {
                display: none;
                position: absolute;
                width: 103%;
                border: 1px solid #e5e5e5;
                background-color: white;
                // left: size(-1);
                margin-top: size(-1);
                z-index: 101;
                li {
                    padding-left: size(7);
                    a {
                        display: inline-block;
                        width: 100%;
                        font-size: 12px;
                        height: 38px;
                        line-height: 38px;
                        text-align: left;
                        color: #333;
                        &:hover {
                            color: $tbscolor;
                        }
                    }
                }
            }
        }
        >div.active {
            >a {
                color: $tbscolor;
                span.arrow {
                    background: url($url) no-repeat -166px -36px;
                }
            }
            ul {
                display: block;
                border-top: 1px solid white;
            }
        }
        input {
            border: 1px solid #e5e5e5;
            padding-left: 82px;
            width: size(262);
            height: size(35);
            font-size: 14px;
        }
        >span {
            display: inline-block;
            position: absolute;
            width: size(35);
            height: size(35);
            top: 0;
            right: size(0);
            background: url($url) no-repeat -236px -188px;
        }
    }
    //
}

.menu.active {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}

@keyframes shaking {
    0%,
    100% {
        transform: rotate(0deg) scale(1)
    }
    4% {
        transform: rotate(0deg) scale(1.4)
    }
    6% {
        transform: rotate(0deg) scale(1.4);
    }
    8% {
        transform: rotate(15deg) scale(1.4);
    }
    13% {
        transform: rotate(-15deg) scale(1.4);
    }
    18% {
        transform: rotate(5deg) scale(1.4);
    }
    20% {
        transform: rotate(-5deg) scale(1.4);
    }
    23% {
        transform: rotate(0deg) scale(1.4);
    }
    35% {
        transform: rotate(0deg) scale(1);
    }
}