@function size($num) {
    @return $num*1px;
}

body {
    background-color: #f7f7f7;
}

$root:"/static/homepage/images/new_pc/";
$url:"/static/homepage/images/new_pc/sprit.png";
$tbscolor:#ff6f20;
// 轮播图
.slider {
    margin-top: 116px;
    height: size(576);
    // background-color: pink;
    // border-top: 1px solid red;
    >div {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    ul {
        position: absolute;
        top: 0;
        height: 100%;
        // width: 100%;
        z-index: 1;
        // width
        li {
            float: left;
            // width: 100%;
            height: 100%;
            background-color: skyblue;
            >a {
                display: inline-block;
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                img {
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -288px;
                    margin-left: -960px;
                }
            }
        }
    }
    //轮播图下标索引
    .sign {
        position: absolute;
        width: 100%;
        bottom: 32px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        z-index: 66;
        a {
            display: inline-block;
            width: 50px;
            height: 2px;
            margin: 0 10px;
            background-color: rgba(255, 255, 255, .6);
            &.active {
                background-color: rgb(255, 255, 255);
            }
        }
    }
    //左右箭头
    .arrow {
        display: none;
        a {
            position: absolute;
            top: 0;
            width: 35px;
            height: 35px;
            top: 50%;
            margin-top: -17px;
            z-index: 2;
            &:hover {
                background-color: rgba(0, 0, 0, .1);
            }
        }
        .pre {
            left: 0px;
            background: url($url) no-repeat -134px -219px;
        }
        .next {
            right: 0px;
            background: url($url) no-repeat -168px -219px;
        }
    }
    .swiper-container:hover {
        .arrow {
            display: block;
        }
    }
}

//服务价值点
.search-value {
    height: size(172);
    background-color: #F7F7F7;
    padding-top: 20px;
    >div {
        position: relative;
    }
    .order {
        width: size(336);
        height: size(456);
        background-color: rgba(0, 0, 0, .6);
        padding: 17px 24px 24px 24px;
        // margin-top: size(60);
        position: absolute;
        top: -537px;
        left: 0;
        z-index: 10;
        .tab {
            height: size(40);
            a {
                display: inline-block;
                width: 50%;
                text-align: center;
                font-size: 22px;
                color: white;
            }
            a.active {
                color: #fff000;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    margin-left: -30px;
                    height: 2px;
                    width: 60px;
                    background-color: #fff000;
                }
            }
        }
        form {
            padding-top: 19px;
            p {
                color: white;
                text-align: center;
                &.p1 {
                    font-size: 14px;
                    margin-bottom: size(22);
                }
                &.p2 {
                    font-size: 12px;
                }
            }
            .form-item {
                height: size(48);
                margin-bottom: size(20);
                input {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                    padding-left: 13px;
                    font-size: 14px;
                    color: #999;
                }
                select {
                    width: 139px;
                    height: 100%;
                    // border-radius: 4px 0 0 4px;
                    border-radius: 4px;
                    padding-left: 13px;
                    font-size: 14px;
                    color: #999;
                    background-color: white;
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                        // border-radius: 0 4px 4px 0;
                    }
                }
            }
            .confirm {
                padding-top: size(10);
                box-sizing: content-box;
                input {
                    background-color: #ff5b0a;
                    color: white;
                    font-size: 18px;
                }
            }
        }
    }
    ul {
        width: 100%;
        // display: flex;
        li {
            float: left;
            background-color: white;
            width: 328px;
            height: size(132);
            margin-right: size(20);
            transition: all .5s;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                padding-left: 32px;
                .info {
                    padding-top: 34px;
                }
                .icon {
                    width: size(140);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    span {
                        display: inline-block;
                        width: 64px;
                        height: 61px;
                        margin: 0 auto;
                        &.i-1 {
                            background: url($url) no-repeat -261px 0px;
                        }
                        &.i-2 {
                            background: url($url) no-repeat -190px 0px;
                        }
                        &.i-3 {
                            background: url($url) no-repeat -332px 0px;
                        }
                        &.i-4 {
                            background: url($url) no-repeat -397px 0px;
                        }
                    }
                }
                h3 {
                    font-size: 24px;
                    color: #222;
                    font-weight: 500;
                    margin-bottom: size(10);
                }
                p {
                    font-size: 16px;
                    color: #999;
                }
            }
        }
        li:hover {
            box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
            transform: translateY(-5px);
        }
    }
}

.modular {
    padding-top: size(100);
    h3 {
        font-size: 32px;
        font-weight: 500;
        color: #000;
        text-align: center;
        letter-spacing: 8px;
        margin-bottom: size(16);
    }
    .type {
        text-align: center;
        color: #666;
        a {
            color: #666;
            font-size: 16px;
            display: inline-block;
            margin: 0 10px;
            &:hover {
                color: $tbscolor;
            }
        }
    }
}

//鼠标移入图片放大
.modular .img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    >img {
        //     width: 100%;
        transition: all .5s;
    }
    &:hover {
        >img {
            transform: scale(1.2);
        }
    }
}

//看图片模块
.figure {
    background-color: white;
    height: size(798);
    // img {
    //     width: 100%;
    // }
    .content {
        // background-color: purple;
        padding-top: size(40);
        .img {
            border: 1px solid #eee;
        }
        // 鼠标移入的样式
        .img:hover {
            .shadow {
                display: flex;
            }
        }
        img {
            height: 100%;
            transition: all .6s;
        }
        .pic-1 {
            width: 521px;
            height: size(504);
            margin-right: 20px;
        }
        .pic-2 {
            width: size(480);
            height: size(504);
            // border: 1px solid red;
            margin-right: size(20);
            .top-pic {
                height: 242px;
                margin-bottom: size(20);
            }
            .bottom-pic {
                height: 242px;
                .left-pic {
                    width: size(230);
                    height: 100%;
                    margin-right: size(20);
                }
                .right-pic {
                    width: size(230);
                    height: 100%;
                }
            }
        }
        .pic-3 {
            width: 332px;
            height: 504px;
        }
        .relate {
            position: relative;
        }
        //遮罩层
        .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            // top: -100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .5);
            text-align: center;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            // transition: all .5s;
            display: none;
            >div {
                width: 100%;
            }
            .little {
                p {
                    font-size: 18px;
                }
                a {
                    margin-top: 26px;
                }
            }
            p {
                color: white;
                font-size: 20px;
                padding: 0 50px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis
            }
            a {
                display: inline-block;
                width: 170px;
                height: size(40);
                border: 1px solid white;
                color: white;
                font-size: 20px;
                line-height: size(40);
                margin-top: size(30);
                &:hover {
                    color: $tbscolor;
                    border-color: $tbscolor;
                }
            }
        }
        .min-shadow {
            p {
                font-size: 18px;
            }
        }
    }
}

//服务流程
.process {
    background-color: #F7F7F7;
    height: 476px;
    .content {
        padding-top: size(20);
        ul {
            li {
                float: left;
                height: 230px;
                width: 180px;
                background-color: white;
                margin-right: 18px;
                padding-top: 20px;
                text-align: center;
                &:last-child {
                    margin-right: 0;
                }
                div {
                    height: 123px;
                    display: flex;
                    align-items: center;
                    span {
                        display: inline-block;
                        width: 84px;
                        height: 72px;
                        background-color: pink;
                        margin: 0 auto;
                        &.i-1 {
                            background: url($url) no-repeat -130px -114px;
                        }
                        &.i-2 {
                            background: url($url) no-repeat -203px -115px;
                        }
                        &.i-3 {
                            background: url($url) no-repeat -283px -114px;
                        }
                        &.i-4 {
                            background: url($url) no-repeat -365px -114px;
                        }
                        &.i-5 {
                            background: url($url) no-repeat -450px -115px;
                        }
                        &.i-6 {
                            background: url($url) no-repeat -541px -116px;
                        }
                        &.i-7 {
                            background: url($url) no-repeat -627px -115px;
                        }
                    }
                }
                h4 {
                    font-size: 18px;
                    margin-bottom: 6px;
                    margin-top: 6px;
                    font-weight: 500;
                    color: #000;
                }
                p {
                    color: #999;
                    font-size: 14px;
                }
            }
        }
    }
}

//装修公司
.company {
    background-color: white;
    height: size(808);
    // img {
    //     transition: all .5s;
    // }
    .content {
        width: 1420px;
        padding-top: size(50);
        margin: 0 auto;
        height: 553px;
        position: relative;
        overflow: hidden;
        >div.tbs-swiper {
            // width: 300%;
            position: absolute;
            padding-top: 20px;
            margin-top: -20px;
        }
        .tbs-sign {
            position: absolute;
            bottom: 0px;
            width: 100%;
            text-align: center;
            >a {
                display: inline-block;
                width: 50px;
                height: 2px;
                background-color: #e5e5e5;
                margin: 0 10px;
                &.active {
                    background-color: #999;
                }
            }
        }
        ul {
            padding: 0 29px;
            float: left;
            li {
                float: left;
                width: 328px;
                height: 430px;
                margin-right: 15px;
                border: 1px solid #eee;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                }
            }
        }
        li {
            transition: all .2s;
            .decoration-pic {
                position: relative;
                width: 100%;
                height: 180px;
                margin-bottom: size(39);
                .company-pic {
                    width: 100%;
                    height: 100%;
                    // overflow: hidden;
                    background-color: gray;
                    >img {
                        width: 100%;
                        transform: all .2s;
                    }
                }
                .company-logo {
                    position: absolute;
                    width: 92px;
                    height: 46px;
                    background-color: white;
                    border-radius: 4px;
                    overflow: hidden;
                    bottom: -27px;
                    left: 50%;
                    margin-left: size(-46);
                    display: flex;
                    align-items: center;
                    box-shadow: 0px 8px 12px rgb(227, 231, 234);
                    >img {
                        width: 100%;
                    }
                }
            }
            .name {
                font-size: 20px;
                color: #333;
                margin-bottom: size(18);
            }
            .score {
                margin-bottom: size(14);
                span {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url($url) no-repeat -145px -196px;
                }
                span.empty {
                    background: url($url) no-repeat -167px -195px;
                }
            }
            .info {
                font-size: 14px;
                color: #666;
                padding-left: 18px;
                p {
                    text-align: left;
                    &:first-child {
                        width: 120px;
                    }
                    &:last-child {
                        width: 180px;
                    }
                }
                span {
                    color: #ff8421;
                    margin-left: 10px;
                }
            }
            .design {
                width: 174px;
                height: 42px;
                margin: 0 auto;
                margin-top: 34px;
                border: 1px solid #ff8421;
                line-height: 42px;
                background-color: white;
                color: #ff8421;
                &:hover {
                    color: white;
                    background-color: #ff8421;
                }
            }
        }
        li:hover {
            transform: scale(1.08);
            box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
            .img {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
}

//装修案例
.decoration-case {
    height: 764px;
    background-color: #F7F7F7;
    .content {
        padding-top: size(41);
        position: relative;
        // overflow: hidden;
        .carouse {
            width: 100%;
            height: 540px;
            padding-top: 20px;
            margin-top: -20px;
            overflow: hidden;
            position: relative;
        }
        ul {
            // width: 300%;
            position: absolute;
            li {
                float: left;
                height: 520px;
                width: 1373px;
                padding-bottom: 20px;
                .case-detail {
                    height: 100%;
                    width: 433px;
                    float: left;
                    position: relative;
                    // border: 1px solid red;
                    margin: 0 12px;
                    position: relative;
                    transition: all .5s;
                    overflow: hidden;
                    img {
                        position: absolute;
                        height: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: all .5s;
                    }
                    .shadow {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: rgba(0, 0, 0, .5);
                        display: none;
                        .info {
                            text-align: center;
                            color: white;
                            width: 100%;
                            a {
                                display: inline-block;
                                width: 145px;
                                height: 40px;
                                border: 1px solid white;
                                font-size: 14px;
                                text-align: center;
                                line-height: 40px;
                                color: white;
                                &:hover {
                                    color: #ff6c14;
                                    border-color: #ff6c14;
                                }
                            }
                        }
                        .p1 {
                            font-size: 18px;
                            margin-bottom: 10px;
                        }
                        .p2 {
                            font-size: 22px;
                            margin-bottom: 42px;
                            padding: 0 50px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .bottom {
                        position: absolute;
                        width: 100%;
                        bottom: 0px;
                        height: 73px;
                        padding-top: 20px;
                        background: url($root+"mark.png") no-repeat center bottom;
                        p {
                            color: white;
                            font-size: 16px;
                            padding-left: 14px;
                            line-height: 40px;
                        }
                        .design {
                            margin-right: 21px;
                            height: 40px;
                            width: 166px;
                            border: 1px solid white;
                            color: white;
                            line-height: 40px;
                            text-align: center;
                            cursor: pointer;
                        }
                    }
                }
                //鼠标移入显示的样式
                .case-detail:hover {
                    transform: translateY(-10px);
                    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
                    .shadow {
                        display: flex;
                        align-items: center;
                    }
                    .design {
                        background-color: #ff6c14;
                        border-color: #ff6c14;
                    }
                    img {
                        // transform: scale(1.1);
                        transform: translate(-50%, -50%) scale(1.1);
                    }
                }
            }
        }
    }
    //
    // .arrow {
    // }
    a[class^="arrow"] {
        height: 500px;
        width: 52px;
        position: absolute;
        bottom: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: all .2s;
        padding-bottom: 20px;
        span {
            display: inline-block;
            width: 42px;
            height: 122px;
            margin: 0 auto;
        }
    }
    a.arrow-l {
        left: -108px;
        &:hover {
            // box-shadow: 0px 3px 20px red;
            transform: translateX(5px)
        }
        span {
            background: url($url) no-repeat -33px -52px;
        }
    }
    a.arrow-r {
        right: -108px;
        &:hover {
            // box-shadow: 0px -3px 20px red;
            transform: translateX(-5px)
        }
        span {
            background: url($url) no-repeat -85px -52px;
        }
    }
}

//看攻略
.guide {
    height: 920px;
    background-color: white;
    .content {
        padding-top: 18px;
        // margin-top: -2px;
        .title {
            padding-bottom: 39px;
            ul {
                li {
                    float: left;
                    width: 328px;
                    height: 192px;
                    margin-right: 20px;
                    position: relative;
                    &:last-child {
                        margin-right: 0;
                    }
                    //三角形
                    span {
                        display: none;
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        border: 1px solid #e5e5e5;
                        bottom: -51px;
                        background-color: white;
                        left: 50%;
                        margin-left: -11px;
                        border-right: 0;
                        border-bottom: 0;
                        transform: rotate(45deg);
                    }
                }
                a {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    transition: all .5s;
                    text-indent: -99px;
                    overflow: hidden;
                    &.learn {
                        background: url($url) no-repeat -4px -590px;
                    }
                    &.classroom {
                        background: url($url) no-repeat -342px -590px;
                    }
                    &.baike {
                        background: url($url) no-repeat -5px -796px;
                    }
                    &.answer {
                        background: url($url) no-repeat -343px -796px;
                    }
                }
                li.active {
                    span {
                        display: inline-block;
                    }
                }
                a:hover {
                    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
                    transform: translateY(-5px);
                }
            }
        }
        .article {
            border: 1px solid #e5e5e5;
            padding-top: 38px;
            padding-bottom: 48px;
            >div {
                width: 25%;
                float: left;
                padding-left: 30px;
                padding-right: 59px;
                border-right: 1px solid #e5e5e5;
                &:last-child {
                    border-right: 0;
                }
                //查看更多
                >a {
                    display: inline-block;
                    width: 117px;
                    height: 38px;
                    line-height: 38px;
                    font-size: 16px;
                    text-align: center;
                    color: #000;
                    border: 1px solid #000;
                    &:hover {
                        border-color: $tbscolor;
                        color: $tbscolor;
                    }
                }
                // 标题
                h4 {
                    font-size: 26px;
                    font-weight: 500;
                    color: #000;
                    padding-bottom: 20px;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 1px;
                        background-color: #000;
                        bottom: 0;
                        left: 0;
                    }
                }
                //文章列表
                ul {
                    padding-top: 26px;
                    margin-bottom: size(26);
                    li {
                        height: 38px;
                        line-height: 38px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        a {
                            font-size: 14px;
                            color: #666;
                            &:hover {
                                color: #ff6f20;
                            }
                        }
                    }
                }
            }
        }
        //百科要有不同的样式
        #dictionary {
            padding-right: 0px;
            ul {
                display: flex;
                height: 255px;
                margin-bottom: 25px;
                flex-direction: column;
                flex-wrap: wrap;
                li {
                    width: 151px;
                    padding-right: 40px;
                }
            }
        }
    }
}

//广告位
.advertisement {
    height: 100px;
    margin: 10px 0;
    background-color: white;
    >div {
        height: 100%;
        // background-color: pink;
        overflow: hidden;
        position: relative;
        ul {
            height: 100%;
            position: absolute;
        }
        li {
            float: left;
            width: 1373px;
            height: 100%;
        }
    }
    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: skyblue;
        >img {
            width: 100%;
        }
    }
}

//了解土拨鼠
.consult {
    background-color: white;
    height: 500px;
    margin-top: 10px;
    .content {
        padding-top: 48px;
        li {
            float: left;
            text-align: center;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                height: 200px;
                width: 1px;
                background-color: #ccc;
                right: 0;
                top: 9px;
            }
            >div {
                width: 100%;
                height: 155px;
                margin-bottom: 19px;
                span {
                    display: inline-block;
                    width: 246px;
                    height: 100%;
                    margin: 0 auto;
                    &.i-1 {
                        background: url($url) no-repeat -101px -411px;
                    }
                    &.i-2 {
                        background: url($url) no-repeat -103px -246px;
                    }
                    &.i-3 {
                        background: url($root+"map.png") no-repeat center center;
                    }
                    &.i-4 {
                        background: url($url) no-repeat -442px -409px;
                    }
                }
            }
            h5 {
                font-size: 18px;
                color: #000;
                margin-bottom: 10px;
                font-weight: 500;
            }
            p {
                font-size: 14px;
                color: #666;
            }
            &:nth-child(1) {
                width: 327px;
            }
            &:nth-child(2) {
                width: 360px;
            }
            &:nth-child(3) {
                width: 348px;
            }
            &:nth-child(4) {
                width: 338px;
                &::after {
                    display: none;
                }
            }
        }
    }
}

//alert提示模块
.alert-model {
    position: fixed;
    z-index: 1002;
    width: 500px;
    height: 220px;
    background-color: white;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -110px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 20px;
    display: none;
    .title {
        height: 24px;
        font-size: 16px;
        line-height: 24px;
        color: #333;
        margin-bottom: 10px;
        a {
            display: block;
            width: 18px;
            height: 18px;
            background: url(http://i.tbscache.com/res/impression/images/collect_closeb.png?v=11111) 0 0 no-repeat;
            &:hover {
                background-position: 0 -35px;
            }
        }
    }
    .content {
        border-top: 1px solid #e3e3e3;
        height: 84px;
        padding: 30px 0;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    .btn {
        width: 140px;
        height: 40px;
        margin: 0 auto;
        background-color: #ff9c00;
        color: white;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        &:hover {
            background-color: #FB3E2F;
        }
    }
}

//轮播图价格弹框
.count-result {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.biling-result {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 400px;
    margin-top: -200px;
    margin-left: -225px;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 30px 45px;
    .close {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 18px;
        height: 18px;
        background: url(http://i.tbscache.com/res/impression/images/collect_closeb.png?v=11111) 0 0 no-repeat;
        &:hover {
            background-position: 0 -35px;
        }
    }
    .p1 {
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 22px;
        span {
            display: inline-block;
            width: 110px;
            font-size: 30px;
            color: #ff6f50;
            text-align: center;
        }
    }
    ul {
        border: 1px solid #e5e5e5;
        padding: 20px 0;
        margin-bottom: 30px;
        li {
            height: 40px;
            font-size: 40px;
            line-height: 40px;
            color: #666;
            .price {
                width: 210px;
                height: 100%;
                padding-left: 50px;
                font-size: 16px;
                span {
                    font-size: 18px;
                    color: #000;
                    display: inline-block;
                    width: 55px;
                    margin: 0 7px;
                }
            }
            .save {
                height: 100%;
                font-size: 14px;
                width: 144px;
                i {
                    font-style: normal;
                    color: $tbscolor;
                }
            }
        }
    }
    .p2 {
        color: $tbscolor;
        font-size: 12px;
        margin-bottom: 5px;
    }
    .p3 {
        color: #333;
        font-size: 12px;
    }
}